<%= provide(:title, 'Home')%>
<div class="hero-unit inline-center transparent">
	<h1>Interactive Blog</h1>
	<p>
		This project demo some basic functions about Ruby on Rails
	</p>
	
</div>

<style type="text/css">
	body {
		background: url(assets/background.png) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
</style>
