<% provide(:title, "All users")%>

<h3>Blogs <span><%= link_to "Create a post", new_post_path, class: 'pull-right' %></span></h3>
<%= will_paginate @posts %>
<%= render @posts %>
<%= will_paginate @posts %>

