<footer class="footer inline-center">
	<div class="container narrow row-fluid">

		<%= link_to "Interactive Blog 2013 - Be eager to study, be more sucessful", "http://rubyonrails.org" %>
	</div>
</footer>

<button id='toTop' class="btn btn-info">
	<i class="icon-circle-arrow-up"></i>To top
</button>

