<div id="footer" class="navbar navbar-inner navbar-fixed-bottom">
	<p class="muted credit">
		<center>
			<%= link_to "Interactive Blog 2013 - Be eager to study, be more sucessful", "http://rubyonrails.org" %>
		</center>
	</p>
</div>

<button id='toTop' class="btn btn-info">
	Back to top
</button>

